@-webkit-keyframes moveInLeft {
  0% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes moveInRight {
  0% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes moveInLeftSmall {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveInLeftSmall {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes moveInRightSmall {
  0% {
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveInRightSmall {
  0% {
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes up {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes up {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes down {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes down {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes icon-animation {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

@keyframes icon-animation {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 62em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 48em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 36em) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 1.6px; */
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.heading-primary--main {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2.5rem;
  display: block;
  background-image: -webkit-gradient(linear, left top, right top, from(#64B0FC), to(#1F267E));
  background-image: linear-gradient(to right, #64B0FC, #1F267E);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: .7rem;
  -webkit-animation: moveInLeft 1s ease-out .1s 1;
          animation: moveInLeft 1s ease-out .1s 1;
}

@media (max-width: 48em) {
  .heading-primary--main {
    -webkit-animation: moveInLeftSmall 1s ease-out .1s 1;
            animation: moveInLeftSmall 1s ease-out .1s 1;
  }
}

.heading-primary--sub {
  font-size: 2rem;
  font-weight: 400;
  display: block;
  background-image: -webkit-gradient(linear, left top, right top, from(#64B0FC), to(#1F267E));
  background-image: linear-gradient(to right, #64B0FC, #1F267E);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-animation: moveInRight 1s ease-out .1s 1;
          animation: moveInRight 1s ease-out .1s 1;
}

@media (max-width: 48em) {
  .heading-primary--sub {
    -webkit-animation: moveInRightSmall 1s ease-out .1s 1;
            animation: moveInRightSmall 1s ease-out .1s 1;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#f64c72), to(#f64c72));
  background-image: linear-gradient(to right, #f64c72, #f64c72);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media (max-width: 48em) {
  .heading-secondary {
    font-size: 3rem;
  }
}

@media (max-width: 36em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-secondary:hover {
  -webkit-transform: skewY(2deg) skewX(15deg);
          transform: skewY(2deg) skewX(15deg);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: calc(1.6rem * 1.2);
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-huge {
  margin-bottom: 13rem !important;
}

@media (max-width: 48em) {
  .u-margin-bottom-huge {
    margin-bottom: 7rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

@media (max-width: 48em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

@media (max-width: 48em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.accordion__item {
  background-color: #283042;
  border-radius: .4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
}

.accordion__link {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: #283042;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
  cursor: pointer;
}

.accordion__icon {
  color: #e7d5ff;
  padding: .5rem;
}

.accordion__icon--minus {
  display: none !important;
}

.accordion__answer-box {
  max-height: 20rem;
  display: none;
  overflow: hidden;
  position: relative;
  background-color: #212838;
  -webkit-transition: max-height 650ms;
  transition: max-height 650ms;
}

.accordion__answer-box::before {
  content: "";
  position: absolute;
  width: .6rem;
  height: 90%;
  background-color: #8fc460;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.accordion__answer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
  padding: 2rem;
}

.accordion__item.active .accordion__answer-box {
  display: block;
}

.accordion__item.active .accordion__icon--plus {
  display: none;
}

.accordion__item.active .accordion__icon--minus {
  display: block !important;
}

.card {
  position: relative;
  height: 35rem;
  border: 0;
  border-radius: 4px;
  width: 90%;
  margin: 0 auto;
}

.card__side {
  height: 35rem;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 0;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: #fff;
  z-index: 5;
}

.card__side--back {
  height: calc(35rem * 2 / 3);
}

.card__side--back--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.85)), to(rgba(40, 180, 133, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}

.card__side--back--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(103, 78, 169, 0.85)), to(rgba(49, 42, 92, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(103, 78, 169, 0.85), rgba(49, 42, 92, 0.85));
}

.card__side--back--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(246, 76, 114, 0.85)), to(rgba(85, 61, 103, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(246, 76, 114, 0.85), rgba(85, 61, 103, 0.85));
}

.card:hover .card__side--front {
  -webkit-transform: translateY(calc(-1 * calc(calc(35rem * 2 / 3) / 2)));
          transform: translateY(calc(-1 * calc(calc(35rem * 2 / 3) / 2)));
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card:hover .card__side--back {
  -webkit-transform: translateY(calc(calc(35rem * 2 / 3) / 2));
          transform: translateY(calc(calc(35rem * 2 / 3) / 2));
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card__picture {
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card__picture--1 {
  background-image: url(../images/autobackcrop.png);
}

.card__picture--2 {
  background-image: url(../images/subbackcrop.png);
}

.card__picture--3 {
  background-image: url(../images/coming.webp);
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 3rem;
  right: 2rem;
  width: 65%;
}

.card__heading-span {
  padding: .2rem 1rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.85)), to(rgba(40, 180, 133, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}

.card__heading-span--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(103, 78, 169, 0.85)), to(rgba(49, 42, 92, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(103, 78, 169, 0.85), rgba(49, 42, 92, 0.85));
}

.card__heading-span--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(246, 76, 114, 0.85)), to(rgba(85, 61, 103, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(246, 76, 114, 0.85), rgba(85, 61, 103, 0.85));
}

.card__details {
  width: 85%;
  margin: 3rem auto;
}

.card__paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
}

.card__button-section {
  width: 85%;
  margin: 3rem auto;
  position: absolute;
  bottom: .1rem;
  left: 7.5%;
  right: 7.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__button:link, .card__button:visited {
  display: inline-block;
  margin: 0;
  padding: .5rem 1rem;
  border: 1px solid #fff;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.card__button:hover, .card__button:active {
  background-color: #fff;
}

.card__button--1:hover, .card__button--1:active {
  color: #28b485;
}

.card__button--2:hover, .card__button--2:active {
  color: #312A5C;
}

.card__button--3:hover, .card__button--3:active {
  color: #553d67;
}

@media (max-width: 75em) {
  .card {
    width: 100%;
  }
  .card__heading {
    width: 70%;
  }
}

@media (max-width: 62em) {
  .card {
    width: 50%;
    height: auto;
    margin-bottom: 3rem;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .card__side--front {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card__side--back {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .card:hover .card__side--front {
    -webkit-transform: none;
            transform: none;
  }
  .card:hover .card__side--back {
    -webkit-transform: none;
            transform: none;
  }
  .card__picture {
    background-position: top;
  }
}

@media (max-width: 48em) {
  .card {
    width: 70%;
  }
}

@media (max-width: 36em) {
  .card {
    width: 65%;
  }
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  margin-bottom: 2rem;
  height: 28.32rem;
}

@media (max-width: 75em) {
  .feature-box {
    height: 35rem;
  }
}

@media (max-width: 62em) {
  .feature-box {
    height: 28rem;
    width: 80%;
    margin: 2rem auto;
  }
}

@media (max-width: 48em) {
  .feature-box {
    width: 100%;
  }
}

@media (max-width: 36em) {
  .feature-box {
    width: 50%;
  }
}

.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#674EA9), to(#312A5C));
  background: linear-gradient(to right, #674EA9, #312A5C);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 48em) {
  .feature-box__icon {
    margin-bottom: 1.1rem;
  }
}

.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
}

.form__group:not(:last-child) {
  margin-bottom: 1rem;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  width: 90%;
  display: block;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

@media (max-width: 62em) {
  .form__input {
    width: 100%;
  }
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #6E70C2;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #28b485;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__input::-webkit-outer-spin-button, .form__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form__input[type=number] {
  -moz-appearance: textfield;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.form__radio-group {
  width: 49%;
  display: inline-block;
}

@media (max-width: 48em) {
  .form__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}

.form__radio-button {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.5rem solid #6E70C2;
  position: absolute;
  left: 0;
  top: -.4rem;
}

.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #6E70C2;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.form__text-area {
  resize: none;
}

.form__btn {
  padding: 1rem 1.5rem;
  padding-left: 1.7rem;
  font-size: 1.6rem;
}

.partner-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.partner-form__group:not(:last-child) {
  margin-bottom: 1.2rem;
}

.partner-form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  width: 40%;
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-right: 10%;
  margin-left: 5%;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.partner-form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #6E70C2;
}

.partner-form__input:focus:invalid {
  border-bottom: 3px solid #28b485;
}

.partner-form__input::-webkit-input-placeholder {
  color: #999;
}

.partner-form__input::-webkit-outer-spin-button, .partner-form__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.partner-form__input[type=number] {
  -moz-appearance: textfield;
}

.partner-form__label {
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.partner-form__input:placeholder-shown + .partner-form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.partner-form__radio-group {
  width: 49%;
  display: inline-block;
}

@media (max-width: 48em) {
  .partner-form__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.partner-form__radio-input {
  display: none;
}

.partner-form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}

.partner-form__radio-button {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.5rem solid #6E70C2;
  position: absolute;
  left: 0;
  top: -.4rem;
}

.partner-form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #6E70C2;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.partner-form__radio-input:checked ~ .partner-form__radio-label .partner-form__radio-button::after {
  opacity: 1;
}

.partner-form__text-area {
  resize: none;
}

.partner-form__btn {
  padding: 1rem 1.5rem;
  padding-left: 1.7rem;
  font-size: 1.6rem;
  display: inline-block;
  margin: 0 auto;
  margin-top: 2rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6.8rem 0;
  height: 80%;
}

@media (max-width: 48em) {
  .social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 3rem 4rem;
  }
}

.social__icon-box {
  height: 7rem;
  width: 7rem;
  background-color: rgba(241, 241, 241, 0.4);
  border-radius: 30%;
  -webkit-box-shadow: 0 1rem 1.5rem -.3rem #00000070;
          box-shadow: 0 1rem 1.5rem -.3rem #00000070;
  text-align: center;
  -webkit-transition: all .7s;
  transition: all .7s;
  overflow: hidden;
  position: relative;
}

@media (max-width: 36em) {
  .social__icon-box {
    height: 5rem;
    width: 5rem;
    border-radius: 20%;
  }
}

.social__icon-box:hover {
  -webkit-box-shadow: 0 1rem 1.5rem -.7rem #00000070;
          box-shadow: 0 1rem 1.5rem -.7rem #00000070;
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}

.social__icon-box:active {
  -webkit-box-shadow: 0;
          box-shadow: 0;
  -webkit-transform: translateY(0.4rem);
          transform: translateY(0.4rem);
}

.social__link::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.social__link--facebook::before {
  background-color: #3b5998;
}

.social__link--twitter::before {
  background-color: #00acee;
}

.social__link--google::before {
  background-color: #EA4335;
}

.social__link--linkedin::before {
  background-color: #0e76a8;
}

.social__link--instagram::before {
  background-color: #E1306C;
}

.social__link:hover::before {
  -webkit-animation: icon-animation .7s 1;
          animation: icon-animation .7s 1;
  top: -10%;
  left: -10%;
}

.social__link, .social__link:link, .social__link:visited {
  text-decoration: none;
  line-height: 8.5rem;
  display: inline-block;
  height: 100%;
  width: 100%;
}

@media (max-width: 36em) {
  .social__link, .social__link:link, .social__link:visited {
    line-height: 6.4rem;
  }
}

.social__icon {
  font-size: 2.8rem;
  -webkit-transition: all .7s;
  transition: all .7s;
  z-index: 2;
}

@media (max-width: 36em) {
  .social__icon {
    font-size: 2rem;
  }
}

.social__icon--facebook {
  color: #3b5998;
}

.social__icon--twitter {
  color: #00acee;
}

.social__icon--google {
  color: #EA4335;
}

.social__icon--linkedin {
  color: #0e76a8;
}

.social__icon--instagram {
  color: #E1306C;
}

.social__link:hover .social__icon {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: rgba(241, 241, 241, 0.4);
}

.footer {
  padding: 10rem 0;
  padding-bottom: 3rem;
  background-color: #113448;
  color: #f7f7f7;
  font-size: 1.4rem;
}

.footer__text-box {
  margin: 0 1.2rem;
}

.footer__heading {
  font-size: 1.8rem;
  color: #f64c72;
  margin: 2.2rem auto;
  margin-bottom: 1.8rem;
}

.footer__list {
  list-style: none;
}

.footer__list span {
  margin-left: 1rem;
}

.footer__copyright-box {
  text-align: center;
  margin-top: 5rem;
}

.footer__link:link, .footer__link:visited {
  color: #f7f7f7;
  background-color: #113448;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer__link:hover, .footer__link:active {
  color: #6E70C2;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(5deg) scale(1.3);
          transform: rotate(5deg) scale(1.3);
}

.header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url(../images/img-1.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(../images/img-1.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}

.header__text-box {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 30%;
}

@media (max-width: 48em) {
  .header__text-box {
    width: 50%;
  }
}

@media (max-width: 36em) {
  .header__text-box {
    width: 80%;
  }
}

.test {
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(../images/img-1.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/img-1.jpg);
  background-size: cover;
  background-position: center;
}

.navigation {
  position: fixed;
  width: 100%;
  z-index: 10;
}

@media (max-width: 48em) {
  .navigation {
    -webkit-perspective: 75rem;
            perspective: 75rem;
    overflow: hidden;
  }
}

@media (max-width: 48em) and (max-width: 48em) {
  .navigation__open .navigation__nav {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

.navigation__overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

@media (max-width: 48em) {
  .navigation__overlay.navigation__open {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.navigation__menu {
  padding: 2rem 2.5rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: lightgrey;
  z-index: 999;
  border-radius: 3px;
  cursor: pointer;
  display: none;
}

@media (max-width: 48em) {
  .navigation__menu {
    display: block;
  }
}

.navigation__bar, .navigation__bar::after, .navigation__bar::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 2px;
  background-color: #426CBE;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: all 650ms;
  transition: all 650ms;
}

.navigation__bar::before {
  top: -2rem;
}

.navigation__bar::after {
  top: 2rem;
}

.navigation__open .navigation__bar {
  background-color: transparent;
}

.navigation__open .navigation__bar::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.navigation__open .navigation__bar::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.navigation__nav {
  height: 10rem;
  width: 100%;
  line-height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: uppercase;
  background-color: transparent;
  overflow: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.navigation__nav.scrolled-nav {
  background-color: lightgrey;
  height: 6rem;
  line-height: 6rem;
}

@media (max-width: 48em) {
  .navigation__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 30rem;
    height: 100vh;
    background-color: lightgrey;
    line-height: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: none;
            box-shadow: none;
    text-align: center;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transition: -webkit-transform 650ms cubic-bezier(0.55, 0.55, 0.675, 0.19);
    transition: -webkit-transform 650ms cubic-bezier(0.55, 0.55, 0.675, 0.19);
    transition: transform 650ms cubic-bezier(0.55, 0.55, 0.675, 0.19);
    transition: transform 650ms cubic-bezier(0.55, 0.55, 0.675, 0.19), -webkit-transform 650ms cubic-bezier(0.55, 0.55, 0.675, 0.19);
  }
  .navigation__nav.scrolled-nav {
    height: 100vh;
  }
}

.navigation__logo-box {
  height: 10rem;
  width: 10rem;
  position: absolute;
  left: 10%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.navigation__logo-box.scrolled-logo-box {
  -webkit-transform: translateY(-2rem) scale(0.5);
          transform: translateY(-2rem) scale(0.5);
}

@media (max-width: 48em) {
  .navigation__logo-box {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navigation__logo {
  text-decoration: none;
}

.navigation__logo-img {
  width: 100%;
  padding: 1.5rem;
  padding-left: 0;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media (max-width: 48em) {
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -5rem;
  }
}

.navigation__item:nth-child(odd) {
  -webkit-animation: up 1s forwards;
          animation: up 1s forwards;
}

.navigation__item:nth-child(even) {
  -webkit-animation: down 1s forwards;
          animation: down 1s forwards;
}

@media (max-width: 48em) {
  .navigation__item::nth-child(n) {
    -webkit-animation: initial;
            animation: initial;
  }
}

.navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #426CBE;
  margin-right: 2rem;
  padding: 0 1rem;
  display: block;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.55, 0.675, 0.19);
  transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.55, 0.675, 0.19);
  transition: transform 0.3s cubic-bezier(0.55, 0.55, 0.675, 0.19);
  transition: transform 0.3s cubic-bezier(0.55, 0.55, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.55, 0.675, 0.19);
}

@media (max-width: 48em) {
  .navigation__link:link, .navigation__link:visited {
    margin: 2rem 0;
    -webkit-transform: initial;
            transform: initial;
  }
}

.navigation__link:hover, .navigation__link:active {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

@media (max-width: 48em) {
  .navigation__link:hover, .navigation__link:active {
    -webkit-transform: initial;
            transform: initial;
    color: blue;
  }
}

.navigation__link::after {
  background-color: #426CBE;
  content: attr(data-text);
  position: absolute;
  left: 0;
  bottom: -100%;
  padding: inherit;
  color: #ffffff;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.product-composition__image {
  width: 90%;
  margin: 1.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.product-composition__image:hover {
  -webkit-transform: scale(1.05) translateY(-0.5rem);
          transform: scale(1.05) translateY(-0.5rem);
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
}

.product-composition:hover .product-composition__image:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.product-content__list {
  list-style: none;
}

.product-content__item {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-content__icon {
  display: inline-block;
  font-size: 1.6rem;
}

.product-content__text {
  margin-left: 2.5rem;
}

.product-content__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-features {
  padding: 20rem 0;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(103, 78, 169, 0.8)), to(rgba(49, 42, 92, 0.8)));
  background: linear-gradient(to right bottom, rgba(103, 78, 169, 0.8), rgba(49, 42, 92, 0.8));
}

@media (max-width: 48em) {
  .section-features {
    padding: 10rem 0;
  }
}

.section-products {
  background-color: #f7f7f7;
  padding: 10rem  0;
  padding-bottom: 15rem;
}

.section-contact {
  padding: 10rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#674EA9), to(#312A5C));
  background-image: linear-gradient(to right bottom, #674EA9, #312A5C);
}

@media (max-width: 48em) {
  .section-contact {
    padding: 5rem 0;
  }
}

.contact {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 50%, transparent 50%), url(../images/water.jpg);
  background-size: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 62em) {
  .contact {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 65%, transparent 65%), url(../images/water.jpg);
    background-size: cover;
  }
}

@media (max-width: 48em) {
  .contact {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url(../images/water.jpg);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url(../images/water.jpg);
  }
}

.contact__form {
  width: 50%;
  padding: 2rem 4rem;
}

@media (max-width: 62em) {
  .contact__form {
    width: 65%;
  }
}

@media (max-width: 48em) {
  .contact__form {
    width: 100%;
  }
}

.contact__social {
  width: 20%;
}

@media (max-width: 48em) {
  .contact__social {
    width: 100%;
  }
}

.partner-background {
  background-color: #8ee4af;
}

.section-partner-heading {
  padding: 12rem 0;
  padding-bottom: 0;
}

.section-partner-form {
  padding-bottom: 5rem;
}

.partner-form-background {
  border-radius: 3px;
  border: 1px solid #000;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

.partner-form-background__area {
  width: 100%;
  padding: 6rem;
}

.section-accordion {
  width: 100%;
  background-color: #edc7b7;
  padding: 10rem 0;
}

.accordion-container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section-product-content {
  padding: 12rem 0;
  background-color: #8ee4af;
}

.product-content-main {
  font-size: 1.9rem;
}

.section-product-composition {
  padding: 12rem 0;
  background-color: #edc7b7;
}
/*# sourceMappingURL=main.css.map */