@-webkit-keyframes moveInLeft {
  0% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes moveInRight {
  0% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes moveInLeftSmall {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveInLeftSmall {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes moveInRightSmall {
  0% {
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveInRightSmall {
  0% {
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes up {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes up {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes down {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes down {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 47.75%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 1.6px; */
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.heading-primary--main {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2.5rem;
  display: block;
  background-image: -webkit-gradient(linear, left top, right top, from(#64B0FC), to(#1F267E));
  background-image: linear-gradient(to right, #64B0FC, #1F267E);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: .7rem;
  -webkit-animation: moveInLeft 1s ease-out .1s 1;
          animation: moveInLeft 1s ease-out .1s 1;
}

@media (max-width: 56.25em) {
  .heading-primary--main {
    -webkit-animation: moveInLeftSmall 1s ease-out .1s 1;
            animation: moveInLeftSmall 1s ease-out .1s 1;
  }
}

.heading-primary--sub {
  font-size: 2rem;
  font-weight: 400;
  display: block;
  background-image: -webkit-gradient(linear, left top, right top, from(#64B0FC), to(#1F267E));
  background-image: linear-gradient(to right, #64B0FC, #1F267E);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-animation: moveInRight 1s ease-out .1s 1;
          animation: moveInRight 1s ease-out .1s 1;
}

@media (max-width: 56.25em) {
  .heading-primary--sub {
    -webkit-animation: moveInRightSmall 1s ease-out .1s 1;
            animation: moveInRightSmall 1s ease-out .1s 1;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#64B0FC), to(#1F267E));
  background-image: linear-gradient(to right, #64B0FC, #1F267E);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}

@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-secondary:hover {
  -webkit-transform: skewY(2deg) skewX(15deg);
          transform: skewY(2deg) skewX(15deg);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

@media (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

@media (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url(../images/img-1.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(../images/img-1.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}

.header__text-box {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 30%;
}

@media (max-width: 56.25em) {
  .header__text-box {
    width: 50%;
  }
}

@media (max-width: 37.5em) {
  .header__text-box {
    width: 80%;
  }
}

.test {
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(../images/img-1.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/img-1.jpg);
  background-size: cover;
  background-position: center;
}

.navigation {
  position: fixed;
  width: 100%;
  z-index: 10;
}

@media (max-width: 56.25em) {
  .navigation {
    -webkit-perspective: 75rem;
            perspective: 75rem;
    overflow: hidden;
  }
}

.navigation__overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

@media (max-width: 56.25em) {
  .navigation__overlay.open {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.navigation__menu {
  padding: 2rem 2.5rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #fff;
  z-index: 999;
  border-radius: 3px;
  cursor: pointer;
  display: none;
}

@media (max-width: 56.25em) {
  .navigation__menu {
    display: block;
  }
}

.navigation__bar, .navigation__bar::after, .navigation__bar::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 2px;
  background-color: #426CBE;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: all 650ms;
  transition: all 650ms;
}

.navigation__bar::before {
  top: -2rem;
}

.navigation__bar::after {
  top: 2rem;
}

.navigation__open .navigation__bar {
  background-color: transparent;
}

.navigation__open .navigation__bar::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.navigation__open .navigation__bar::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.navigation__nav {
  height: 10rem;
  width: 100%;
  line-height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: uppercase;
  background-color: transparent;
  overflow: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.navigation__nav.scrolled-nav {
  background-color: #113448;
  height: 6rem;
  line-height: 6rem;
}

@media (max-width: 56.25em) {
  .navigation__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 30rem;
    height: 100vh;
    line-height: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: none;
            box-shadow: none;
    text-align: center;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transition: -webkit-transform 650ms cubic-bezier(0.55, 0.55, 0.675, 0.19);
    transition: -webkit-transform 650ms cubic-bezier(0.55, 0.55, 0.675, 0.19);
    transition: transform 650ms cubic-bezier(0.55, 0.55, 0.675, 0.19);
    transition: transform 650ms cubic-bezier(0.55, 0.55, 0.675, 0.19), -webkit-transform 650ms cubic-bezier(0.55, 0.55, 0.675, 0.19);
  }
}

@media (max-width: 56.25em) {
  .navigation__nav.open {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

.navigation__logo-box {
  height: 10rem;
  width: 10rem;
  position: absolute;
  left: 10%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.navigation__logo-box.scrolled-logo-box {
  -webkit-transform: translateY(-2rem) scale(0.5);
          transform: translateY(-2rem) scale(0.5);
}

@media (max-width: 56.25em) {
  .navigation__logo-box {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navigation__logo {
  text-decoration: none;
}

.navigation__logo-img {
  width: 100%;
  padding: 1.5rem;
  padding-left: 0;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media (max-width: 56.25em) {
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -5rem;
  }
}

.navigation__item:nth-child(odd) {
  -webkit-animation: up 1s forwards;
          animation: up 1s forwards;
}

.navigation__item:nth-child(even) {
  -webkit-animation: down 1s forwards;
          animation: down 1s forwards;
}

@media (max-width: 56.25em) {
  .navigation__item::nth-child(n) {
    -webkit-animation: initial;
            animation: initial;
  }
}

.navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #426CBE;
  margin-right: 2rem;
  padding: 0 1rem;
  display: block;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.55, 0.675, 0.19);
  transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.55, 0.675, 0.19);
  transition: transform 0.3s cubic-bezier(0.55, 0.55, 0.675, 0.19);
  transition: transform 0.3s cubic-bezier(0.55, 0.55, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.55, 0.675, 0.19);
}

@media (max-width: 56.25em) {
  .navigation__link:link, .navigation__link:visited {
    margin: 2rem 0;
    -webkit-transform: initial;
            transform: initial;
  }
}

.navigation__link:hover, .navigation__link:active {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

@media (max-width: 56.25em) {
  .navigation__link:hover, .navigation__link:active {
    -webkit-transform: initial;
            transform: initial;
    color: blue;
  }
}

.navigation__link::after {
  background-color: #426CBE;
  content: attr(data-text);
  position: absolute;
  left: 0;
  bottom: -100%;
  padding: inherit;
  color: #ffffff;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.section-about {
  padding: 10rem 0;
  background-color: #f7f7f7;
  height: 100vh;
}
/*# sourceMappingURL=main.css.map */