// COLORS

// Lightest to darkest(approx values)
// 1. #64B0FC  - 100,176,252
// 2. #548FDF  -  84,143,223
// 3. #426CBE  -  66,108,190
// 4. #304A9E  -  48,74,158
// 5. #1F267E  -  31,38,126
// {skyblue, #87ceeb},{#426CBE ,rgb(77, 148, 255)};

$color-primary-1 : #64B0FC;  
$color-primary-2 : #548FDF;
$color-primary-3 : #426CBE;
$color-primary-4 : #304A9E;
$color-primary-5 : #1F267E;


$color-primary : #6E70C2;
$color-primary-light : #674EA9;
$color-primary-dark : #312A5C;
$color-secondary : #55c57a;
$color-secondary-light : #7ed56f;
$color-secondary-dark : #28b485;
$color-secondary: #5cdb95;

$color-tertiary-light: #f64c72;
$color-tertiary-dark: #553d67;

$color-grey-light-1 : #f7f7f7;
$color-grey-light-2 : #eee;

$color-grey-dark : #777;
$color-grey-dark-2 : #999;
$color-grey-dark-3 : #333;


$color-white : #fff;
$color-black : #000;

// FONT
$default-font-size : 1.6rem;

// navigation
$nav-height-big : 10rem; // same as logo height and width
$nav-height-small : 6rem;

// length
$card-height: 35rem;
$back-side-height: calc(#{$card-height} * 2 / 3);
$card-shift: calc(#{$back-side-height} / 2);


// social icons - colors
$facebook-color : #3b5998;
$twitter-color: #00acee;
$google-color: #EA4335;
$linkedin-color: #0e76a8;
$instagram-color: #E1306C;
$whatsapp-color: #25D366;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;