// COLORS

// Lightest to darkest(approx values)
// 1. #64B0FC  - 100,176,252
// 2. #548FDF  -  84,143,223
// 3. #426CBE  -  66,108,190
// 4. #304A9E  -  48,74,158
// 5. #1F267E  -  31,38,126
// {skyblue, #87ceeb},{#426CBE ,rgb(77, 148, 255)};

$color-primary-1 : #64B0FC;  
$color-primary-2 : #548FDF;
$color-primary-3 : #426CBE;
$color-primary-4 : #304A9E;
$color-primary-5 : #1F267E;


$color-secondary: red;


$color-white : #fff;
$color-black : #000;

// FONT
$default-font-size : 1.6rem;