.header {
    height: 100vh;
    background-image: url(../images/img-1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    &__text-box {
        position: absolute;
        top: 17%;
        left: 10%;
        width: 50%;
    }


}

