.header {
    height: 100vh;
    // width: 100%;
    background-image: linear-gradient(rgba(90,185,234, 0.4), rgba(90,185,234, 0.4)), url(../images/img-1.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    // background-color: red;

    &__text-box {
        position: absolute;
        // top: 20%;
        // left: 10%;
        // width: 30%;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

    }

}
// .test {
//     height: 100vh;
//     width: 100%;
//     background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/img-1.jpg);
//     background-size: cover;
//     background-position: center;
// }
