.product-content {
    &__list {
        list-style: none;
        // padding-left: 2rem;
    }

    &__item {
        font-size: 1.8rem;
        display: flex;
    }

    &__icon {
        display: inline-block;
        font-size: 1.6rem;
    }

    &__text {
        margin-left: 2.5rem;
    }

    &__image {
        display: flex;
        align-items: center;
    }
}