.navigation {
    position: fixed;
    width: 100%;
    z-index: 10;
    pointer-events: none;

    @include respond(tab-port) {
        perspective: 75rem;
        overflow: hidden;
        
        &__open &__nav{
            @include respond(tab-port) {
                transform: rotateY(0);
            }
        }
    }

    &__overlay {
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.4);
        position: fixed;
        transform: scaleX(0);
        opacity: 0;
        transition: opacity 1s; 
        pointer-events: none; 
        
        &.navigation__open {
            @include respond(tab-port) {
                opacity: 1;
                transform: scaleX(1);
                pointer-events: all;
            }
        }
    }

    &__menu {
        padding: 2rem 2.5rem;
        position: fixed;
        top: 1rem;
        right: 1rem;
        background-color: rgba(0, 0, 0, .8);
        z-index: 999;
        border-radius: 3px;
        cursor: pointer;
        display: none;
        height: 6rem;
        width: 7rem;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
        pointer-events: all;


        @include respond(tab-port) {
            display: block;
        }
    }
    
    &__bar {
        &, &::after, &::before {
            content: "";
            position: absolute;
            width: 3rem;
            height: 2px;
            background-color: $color-white;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            transition: all 650ms;
        }

        &::before {
            top: -2rem;
        }

        &::after {
            top: 2rem;
        }
    }

    &__open &__bar {
        background-color: transparent;

        &::before {
            transform: rotate(45deg);
            top: 0;
        }
        
        &::after {
            transform: rotate(-45deg);
            top: 0;
        }
    }

    &__nav {
        height: $nav-height-big;
        width: 100%;
        line-height: $nav-height-big;
        display: flex;
        justify-content: space-evenly;
        text-transform: uppercase;
        background-color: transparent;
        // box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
        overflow: hidden;
        transition: all .2s ease;
        pointer-events: all;

        // scrolling navigation effect 
        &.scrolled-nav {   
            background-color: rgba(0, 0, 0, .8);// mediumpurple;
            height: $nav-height-small;
            line-height: $nav-height-small;
            box-shadow: 0 .7rem 2rem rgba(0,0,0,.6);
        }

        @include respond(tab-port) {
            // position: absolute;
            top: 0;
            left: 0;
            width: 30rem;
            height: 100vh;
            background-color: rgba(0, 0, 0, .8);
            line-height: initial;
            flex-direction: column;
            box-shadow: none;
            text-align: center;
            transform: rotateY(180deg);
            transform-origin: top left;
            transition: transform 650ms cubic-bezier(.55,.55,.675,.19);
            pointer-events: none;

            &.scrolled-nav {   
                height: 100vh;
                line-height: initial;
                pointer-events: none;
            }

            &.navigation__open {
                pointer-events: all;
            }

        }
    }
    
    &__logo-box {
        height: $nav-height-big;
        width: $nav-height-big;
        position: absolute;
        left: 10%;
        transition: all .2s ease;

        &.scrolled-logo-box {
            transform: translateY(-2rem) scale(.5);
        }

        // media query
        @include respond(tab-port) {
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: scale(1.5);
            position: static;

            &.scrolled-logo-box {
                transform: scale(1.5);
            }
        }
    }

    &__logo {
        text-decoration: none;
    }

    &__logo-img {
        width: 100%;
        padding: 1.5rem;
        padding-left: 0;
    }

    &__list {
        display: flex;
        list-style: none;
        // justify-content: space-between;

        @include respond(tab-port) {
            flex-direction: column;
            margin-top: -5rem;
        }
    }

    &__item {
        &:nth-child(odd) {
        animation: up 1s forwards 1000ms;
        }

        &:nth-child(even) {
            animation: down 1s forwards 1000ms;
        }

        &::nth-child(n) {
            @include respond(tab-port) {
                animation: initial;
            }
        }
        
    }

    &__link {
        &:link, &:visited {
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 700;
            color: $color-white;
            margin-right: 2rem;
            padding: 0 1rem;
            display: block;
            position: relative;
            transform-style: preserve-3d;
            transform-origin: top;
            transition: transform .3s cubic-bezier(.55,.55,.675,.19);

            @include respond(tab-port) {
                margin: 2rem 0;
                transform: initial;
                transition: text-shadow .3s cubic-bezier(.55,.55,.675,.19);
            }
        }
        

        &:hover, &:active {
            transform: rotateX(90deg);

            @include respond(tab-port) {
                transform: initial;
                color: $color-white;
                text-shadow: 0 .2rem .4rem rgba(0,0,0,0.85);
            }
        }

        &::after {
            background-color: #34b3c7;
            content: attr(data-text);
            position: absolute;
            left: 0;
            bottom: -100%;
            padding: inherit;
            color: #ffffff;
            transform: rotateX(-90deg);
            transform-origin: top;
        
        }
    
    }

    
}

// for scrolling navigation active
#top-menu li.active a {
    border-top: 3px solid #34b3c7;
    color: #34b3c7;

    @include respond(tab-port) {
        border-top: transparent;
    }
}

#top-menu li.always-active a {
    border-top: 3px solid #34b3c7;
    color: #34b3c7;

    @include respond(tab-port) {
        border-top: transparent;
    }
}