<%- include('partials/header'); -%>

        <!-- navigation -->
        <div class="navigation">
            <div class="navigation__menu">
                <div class="navigation__bar">&nbsp;</div>
            </div>

            <div class="navigation__overlay">&nbsp;</div>

            <nav class="navigation__nav">
                <div class="navigation__logo-box">
                    <a href="/" class="navigation__logo"><img src="images/logo-new.png" alt="Logo" class="navigation__logo-img"></a>
                </div>
                <ul class="navigation__list" id="top-menu">
                    <li class="navigation__item"><a href="/#home" class="navigation__link page-scroll" data-text="home">home</a></li>
                    <li class="navigation__item"><a href="/#about" class="navigation__link page-scroll" data-text="about">about</a></li>
                    <li class="navigation__item always-active"><a href="/#products" class="navigation__link page-scroll" data-text="products">products</a></li>
                    <li class="navigation__item"><a href="/#contact" class="navigation__link page-scroll" data-text="contact us">contact us</a></li>
                    <li class="navigation__item"><a href="/partner" class="navigation__link" data-text="become partner">become partner</a></li>
                </ul>
            </nav>
        </div>
    


        <main>
                <section class="section-product-content">
                    <div class="container">
                        <div class="u-center-text u-margin-bottom-medium">
                            <h2 class="heading-secondary heading-secondary--autocut">Wavly AutoCut</h2>
                        </div>

                        <div class="product-content row">
                            <div class="product-content__image col-md-5">
                                <img src="images/autofinal.png" class="img-fluid" alt="autocut">
                            </div>
                            <ul class="product-content__list col-md-7">
                                <li class="product-content__item">
                                    <span class="product-content__icon"><i class="fas fa-star"></i></span>
                                    <p class="product-content__text">Taking care of your ease and saving water at same time. Wavly Auto cut requires manual ON of water pump by user .Once your overhead tank is filled completely , Wavly will auto shut OFF the water pump.</p>
                                </li>
                                <li class="product-content__item">
                                    <span class="product-content__icon"><i class="fas fa-star"></i></span>
                                    <p class="product-content__text">It can be used for municipal water supply or submersible.Made for everybody.</p>
                                </li>
                                <li class="product-content__item">
                                    <span class="product-content__icon"><i class="fas fa-star"></i></span>
                                    <p class="product-content__text">A beautiful compact (4 inch X 4 inch) design which consumes less than electricity less than a mobile charger.More saving of money in your pocket.</p>
                                </li>
                                <li class="product-content__item">
                                    <span class="product-content__icon"><i class="fas fa-star"></i></span>
                                    <p class="product-content__text">With high quality components embedded, you get 8 months warranty.But if gets broken we have easy replacement for you.</p>
                                </li>
                                <li class="product-content__item">
                                    <span class="product-content__icon"><i class="fas fa-star"></i></span>
                                    <p class="product-content__text">Requires easy installation and have user guide containing all the connection diagram as per different water supply/electrical connections.</p>
                                </li>
                            </ul>
                        </div>

                        <div class="product-content__buttons">
                            <a href="https://www.amazon.in/Wavly-Better-Water-Overflow-Alarm/dp/B07VL684Z6" class="btn btn--autocut" target="_blank"><i class="fas fa-shopping-cart" aria-hidden="true"></i> Buy now!</a>
                            <a href="#installation" class="btn btn--autocut page-scroll">See connections <i class="fas fa-long-arrow-alt-down"></i></a>
                        </div>
                    </div>
                </section>
                
                <section class="section-product-composition" id="installation">
                    <div class="container">
                        <div class="u-center-text u-margin-bottom-medium">
                            <h2 class="heading-secondary heading-secondary--autocut">Installation Circuits</h2>
                        </div>

                        <div class="product-composition">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <div data-popup-target="#popup1">
                                        <img src="images/autocut1.png" alt="autocut circuit" class="product-composition__image">
                                    </div>
                                </div>

                                <div class="col-md-4 col-12">
                                    <div data-popup-target="#popup2">
                                        <img src="images/autocut2.png" alt="autocut circuit" class="product-composition__image">
                                    </div>
                                </div>

                                <div class="col-md-4 col-12">
                                    <div data-popup-target="#popup3">
                                        <img src="images/autocut3.png" alt="autocut circuit" class="product-composition__image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </section>
        </main>

        <!-- image popups-->
        <div class="popup" id="popup1">
            <div class="popup__header">
                <div class="popup__title">Wire labels for AutoCut</div>
                <div data-close-button class="popup__close-button">
                    &times;
                </div>
            </div>
            <div class="popup__body">
                <img src="images/autocut1.png" alt="autocut circuit" class="popup__image">
            </div>
        </div>


        <div class="popup" id="popup2">
            <div class="popup__header">
                <div class="popup__title">Connections for Submersible AutoCut</div>
                <div data-close-button class="popup__close-button">
                    &times;
                </div>
            </div>
            <div class="popup__body">
                <img src="images/autocut2.png" alt="autocut circuit" class="popup__image">
            </div>
        </div>

        <div class="popup" id="popup3">
            <div class="popup__header">
                <div class="popup__title">Connections for Monoblock (AutoCut)</div>
                <div data-close-button class="popup__close-button">
                    &times;
                </div>
            </div>
            <div class="popup__body">
                <img src="images/autocut3.png" alt="autocut circuit" class="popup__image">
            </div>
        </div>
        <div class="popup__overlay"></div>
        <!-- image popups end-->

<%- include('partials/footer'); -%>