<%- include('partials/header'); -%>


    <!-- navigation start-->
    <div class="navigation">
        <div class="navigation__menu">
            <div class="navigation__bar">&nbsp;</div>
        </div>

        <div class="navigation__overlay">&nbsp;</div>

        <nav class="navigation__nav">
            <div class="navigation__logo-box">
                <a href="/" class="navigation__logo"><img src="images/logo-new.png" alt="Logo" class="navigation__logo-img"></a>
            </div>
            <ul class="navigation__list" id="top-menu">
                <li class="navigation__item active"><a href="#home" class="navigation__link page-scroll" data-text="home">home</a></li>
                <li class="navigation__item"><a href="#about" class="navigation__link page-scroll" data-text="about">about</a></li>
                <li class="navigation__item"><a href="#products" class="navigation__link page-scroll" data-text="products">products</a></li>
                <li class="navigation__item"><a href="#contact" class="navigation__link page-scroll" data-text="contact us">contact us</a></li>
                <li class="navigation__item"><a href="/partner" target="_blank" class="navigation__link" data-text="become partner">become partner</a></li>
            </ul>
        </nav>
    </div>
    <!-- navigation end-->

    <!-- Header start-->
    <header class="header" id="home">
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Wavly</span>
                <span class="heading-primary--sub">A Water technology focused brand, aims to manage water assests of infrastructure via IoT, automation and data analytics.</span>
            </h1>
            <a href="#products" class="btn btn--white btn--animated btn--header-button page-scroll">Discover</a>
        </div>
    </header>
    <!-- Header end-->
    
    <main>
        <!-- section features-->
        <section class="section-features"  id="about">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="feature-box">
                            <i class="feature-box__icon fas fa-cogs"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Automation</h3>
                            <p class="feature-box__text">
                                Prevent wastage of water by automating water pumps at small flats, societies etc. using easily installable WAVLY products.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="feature-box">
                            <i class="feature-box__icon fas fa-wifi"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">IOT & data</h3>
                            <p class="feature-box__text">
                                IOT enabled predictive analysis helps in leakage detection, system failure using real time data preventing huge damage.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="feature-box">
                            <i class="feature-box__icon fas fa-building"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Water management</h3>
                            <p class="feature-box__text">
                                For large societies, schools, malls, sports complex etc. an end-to-end solution to automatically manage water in buildings with no upfront cost.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="feature-box">
                            <i class="feature-box__icon fas fa-dollar-sign"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Savings</h3>
                            <p class="feature-box__text">
                                Saving water with saving money at your comfortability. Isn't that great! Saving up to 20% to 26% of money on utility bills per month.
                            </p>
                        </div>
                    </div>

                </div>

                <!-- slider start-->
                <h3 class="association">Associated with :</h3>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="support-box">
                                <img src="images/DTU-IIF2.png" alt="DTU" class="img-responsive support-box__img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="support-box">
                                <img src="images/nexus.png" alt="nexus" class="img-responsive support-box__img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="support-box">
                                <img src="images/american.png" alt="american" class="img-responsive support-box__img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="support-box">
                                <img src="images/smart-fifty.png" alt="smart-fifty" class="img-responsive support-box__img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="support-box">
                                <img src="images/innotechnew.png" alt="innotech" class="img-responsive support-box__img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="support-box">
                                <img src="images/texas2.png" alt="texas2" class="img-responsive support-box__img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="support-box">
                                <img src="images/oyo.png" alt="texas2" class="img-responsive support-box__img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="support-box">
                                <img src="images/delhigov.png" alt="texas2" class="img-responsive support-box__img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="support-box">
                                <img src="images/itpo.png" alt="texas2" class="img-responsive support-box__img">
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <!-- <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div> -->
                </div>
                <!-- Swiper JS -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>

                <!-- Initialize Swiper -->
                <script>
                var swiper = new Swiper('.swiper-container', {
                    slidesPerView: 3,
                    spaceBetween: 0,
                    loop: true,
                    // centeredSlides: true,
                    autoplay: {
                    delay: 1500,
                    disableOnInteraction: false,
                    },
                    breakpoints: {
                        992: {
                            slidesPerView: 2
                        }
                    },
                    pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                    },
                    // navigation: {
                    //   nextEl: '.swiper-button-next',
                    //   prevEl: '.swiper-button-prev',
                    // },
                });
                </script>
                <!-- slider end-->

            </div>
        </section>
        <!-- section feature end-->

        <!-- section product start-->
        <section class="section-products" id="products">

                <div class="u-center-text u-margin-bottom-medium">
                    <h2 class="heading-secondary">
                        Products
                    </h2>
                </div> 

                <div class="row-n">

                    <div class="col-1-of-3">
                        <div class="card-n">
                            <div class="card-n__side card-n__side--front">
                                <div class="card-n__picture card-n__picture--1">
                                    &nbsp;
                                </div>
                                <h4 class="card-n__heading">
                                    <span class="card-n__heading-span card-n__heading-span--1">wavly autocut</span>
                                </h4>
                                <div class="card-n__details">
                                    <ul>
                                        <li>For monoblock pumps/ submersible</li>
                                        <li>Manual ON. Automatic OFF</li>
                                        <li>No expensive sensor</li>
                                        <li>Easy installation</li>
                                        <li>1 year warranty</li>
                                       </ul>
                                </div>
                            </div>
                            <div class="card-n__side card-n__side--back card-n__side--back--1">
                                <div class="card-n__cta">
                                    <div class="card-n__price-box">
                                        <p class="card-n__price-only">Only</p>
                                        <p class="card-n__price-value">&#x20b9; 900</p>
                                    </div>
                                    <a href="/autocut" class="btn btn--white" target="_self">Know more</a>
                                    <a href="https://www.amazon.in/Wavly-Better-Water-Overflow-Alarm/dp/B07VL684Z6" class="btn btn--white" target="_blank"><i class="fas fa-shopping-cart"></i> Buy now!</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-1-of-3">
                        <div class="card-n">
                            <div class="card-n__side card-n__side--front">
                                <div class="card-n__picture card-n__picture--2">
                                    &nbsp;
                                </div>
                                <h4 class="card-n__heading">
                                    <span class="card-n__heading-span card-n__heading-span--2">wavly submersible</span>
                                </h4>
                                <div class="card-n__details">
                                    <ul>
                                        <li>For submersible only</li>
                                        <li>Automatic ON/OFF</li>
                                        <li>No expensive sensor</li>
                                        <li>Easy installation</li>
                                        <li>8 months warranty</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-n__side card-n__side--back card-n__side--back--2">
                                <div class="card-n__cta">
                                    <div class="card-n__price-box">
                                        <p class="card-n__price-only">Only</p>
                                        <p class="card-n__price-value">&#x20b9; 1200</p>
                                    </div>
                                    <a href="/submersible" class="btn btn--white" target="_self">Know more</a>
                                    <a href="https://www.amazon.in/Wavly-Submersible-Automatic-Controller-www-wavly/dp/B07ZC7MQDZ" class="btn btn--white" target="_blank"><i class="fas fa-shopping-cart"></i> Buy now!</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-1-of-3">
                        <div class="card-n">
                            <div class="card-n__side card-n__side--front">
                                <div class="card-n__picture card-n__picture--3">
                                    &nbsp;
                                </div>
                                <h4 class="card-n__heading">
                                    <span class="card-n__heading-span card-n__heading-span--3">wavly x</span>
                                </h4>
                                <div class="card-n__details">
                                    <ul>
                                        <li>For large infrastructure</li>
                                        <li>IOT based Platform</li>
                                        <li>Real time tracking of water</li>
                                        <li>Full Automation</li>
                                        <li>No Upfront Cost</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-n__side card-n__side--back card-n__side--back--3">
                                <div class="card-n__cta">
                                    <!-- <div class="card-n__price-box">
                                        <p class="card-n__price-only">Only</p>
                                        <p class="card-n__price-value">&#8377; ---</p>
                                    </div> -->
                                    <a href="#contact" class="btn btn--white page-scroll" target="_self">Join Mail Update</a>
                                    <!-- <a href="/wavlyx" class="btn btn--white" target="_self"><i class="fas fa-shopping-cart"></i> Buy now!</a> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </section>
        <!--section products end-->

        <!-- section contact start-->
        <section class="section-contact" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="contact">

                            <!-- contact form start-->
                            <div class="contact__form">
                                <form action="contact_request" method="POST" class="form" autocomplete="off">

                                    <div class="u-margin-bottom-small">
                                        <h2 class="heading-secondary">
                                            Contact Us
                                        </h2>
                                    </div>

                                    <div class="form__group">
                                        <input type="text" class="form__input" placeholder="Full name*" id="name" name="contact_name" required>
                                        <label for="name" class="form__label">Full name</label>
                                    </div>

                                    <div class="form__group">
                                        <input type="email" class="form__input" placeholder="Email address*" id="email" name="contact_email" required>
                                        <label for="email" class="form__label">Email address</label>
                                    </div>

                                    <div class="form__group">
                                        <input type="number" class="form__input" placeholder="Mobile number" name="contact_number" id="mobile">
                                        <label for="mobile" class="form__label">Mobile number</label>
                                    </div>

                                    <div class="form__group">
                                        <textarea name="contact_message" class="form__input form__text-area" placeholder="Your message" id="message"  rows="4"></textarea>
                                        <label for="message" class="form__label">Your message</label>
                                    </div>

                                    <div class="form__group">
                                        <button type="submit" class="btn btn-primary btn-lg form__btn">Submit &rarr;</button>
                                    </div>

                                </form>
                            </div>
                            <!-- contact form end-->


                            <!-- social icons start-->
                            <div class="contact__social">
                                <div class="social">
                                    <div class="social__icon-box">
                                        <a href="https://www.facebook.com/WavlyWater/" class="social__link social__link--facebook" target="_blank"><i class="social__icon social__icon--facebook fab fa-facebook-f"></i></a>
                                    </div>
                                    <div class="social__icon-box">
                                        <a href="https://twitter.com/WavlyWater" class="social__link social__link--twitter" target="_blank"><i class="social__icon social__icon--twitter fab fa-twitter"></i></a>
                                    </div>
                                    <!-- <div class="social__icon-box">
                                        <a href="#" class="social__link social__link--google" target="_blank"><i class="social__icon social__icon--google fab fa-google"></i></a>
                                    </div> -->
                                    <div class="social__icon-box">
                                        <a href="#" class="social__link social__link--linkedin" target="_blank"><i class="social__icon social__icon--linkedin fab fa-linkedin-in"></i></a>
                                    </div>
                                    <div class="social__icon-box">
                                        <a href="https://www.instagram.com/wavly.official/" class="social__link social__link--instagram" target="_blank"><i class="social__icon social__icon--instagram fab fa-instagram"></i></a>
                                    </div>
                                    <div class="social__icon-box">
                                        <a href="https://wa.me/919315080523?text=Hi%20Wavly%2C%20" class="social__link social__link--whatsapp" target="_blank"><i class="social__icon social__icon--whatsapp fab fa-whatsapp"></i></a>
                                    </div>
                                    <!-- <div class="social__icon-box">
                                        <a href="https://api.whatsapp.com/send?phone=919958158037" class="social__link social__link--whatsapp" target="_blank"><i class="social__icon social__icon--whatsapp fab fa-whatsapp"></i></a>
                                    </div> -->
                                </div> 
                            </div>
                            <!-- social icons end-->

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section contact end-->

    </main>


    <%- include('partials/footer'); -%>