<%- include('partials/header'); -%>


    <div class="partner-background">

        <!-- navigation -->
        <div class="navigation">
            <div class="navigation__menu">
                <div class="navigation__bar">&nbsp;</div>
            </div>

            <div class="navigation__overlay">&nbsp;</div>

            <nav class="navigation__nav">
                <div class="navigation__logo-box">
                    <a href="/" class="navigation__logo"><img src="images/logo-new.png" alt="Logo" class="navigation__logo-img"></a>
                </div>
                <ul class="navigation__list" id="top-menu">
                    <li class="navigation__item"><a href="/#home" class="navigation__link page-scroll" data-text="home">home</a></li>
                    <li class="navigation__item"><a href="/#about" class="navigation__link page-scroll" data-text="about">about</a></li>
                    <li class="navigation__item"><a href="/#products" class="navigation__link page-scroll" data-text="products">products</a></li>
                    <li class="navigation__item"><a href="/#contact" class="navigation__link page-scroll" data-text="contact us">contact us</a></li>
                    <li class="navigation__item always-active"><a href="/partner" class="navigation__link" data-text="become partner">become partner</a></li>
                </ul>
            </nav>
        </div>

        <main>
                <section class="section-partner-heading container">
                    <div class="u-center-text jumbotron">
                        <h2 class="heading-secondary">Let's Become Partner</h2>
                    </div>
                </section>


                <section class="section-partner-form container" id="contact">
                        <div class="row">
                            <div class="col-12">
                                <div class="partner-form-background">
                                    <div class="partner-form-background__area">
                                        <form action="partner_request" method="POST" class="partner-form" autocomplete="off" onsubmit="return checkFormData()">

                                            <div class="u-margin-bottom-medium">
                                                <h3 class="heading-tertiary u-center-text">
                                                    just fill out this form
                                                </h3>
                                            </div>

                                            <% if(messages.errorMessage && messages.errorMessage.length > 0) { %>
                                                <p class="form__msg-error text-center"><%= messages.errorMessage %></p>
                                            <% } %>
        
                                            <% if(messages.infoMessage && messages.infoMessage.length > 0) { %>
                                                <p class="form__msg-info text-center"><%= messages.infoMessage %></p>
                                            <% } %>

                                            <div class="partner-form__group">
                                                <label for="partner-name" class="partner-form__label">Name* :</label>
                                                <input type="text" class="partner-form__input" placeholder="Name*" id="partner-name" name="partner_name" required>
                                            </div>

                                            <fieldset>
                                                <div class="partner-form__group partner-form__group--radio-three">
                                                    <legend class="partner-form__label" id="radio-error">You are* :</legend>
                                                    <div class="partner-form__radio-input-group">
                                                        <div class="partner-form__radio-group partner-form__radio-group--radio-three">
                                                            <input type="radio" class="partner-form__radio-input" id="retailer" value="retailer" name="partner_type">
                                                            <label for="retailer" class="partner-form__radio-label">
                                                                <span class="partner-form__radio-button"></span>
                                                                Retailer
                                                            </label>
                                                        </div>
                    
                                                        <div class="partner-form__radio-group partner-form__radio-group--radio-three">
                                                            <input type="radio" class="partner-form__radio-input" id="distributor" value="distributor" name="partner_type">
                                                            <label for="distributor" class="partner-form__radio-label">
                                                                <span class="partner-form__radio-button"></span>
                                                                Distributor
                                                            </label>
                                                        </div>
                                                        <div class="partner-form__radio-group partner-form__radio-group--radio-three">
                                                            <input type="radio" class="partner-form__radio-input" id="contractor" value="contractor" name="partner_type">
                                                            <label for="contractor" class="partner-form__radio-label">
                                                                <span class="partner-form__radio-button"></span>
                                                                Contractor/Company
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <div class="partner-form__group">
                                                <label for="company-name" class="partner-form__label">Company/Firm Name* :</label>
                                                <input type="text" class="partner-form__input" placeholder="Company/Firm Name*" id="company-name" name="partner_company_name" required>
                                            </div>

                                            <div class="partner-form__group">
                                                <label for="partner-mobile" class="partner-form__label">Mobile/Contact number* :</label>
                                                <input type="text" class="partner-form__input" placeholder="Mobile/Contact number*" id="partner-mobile" name="partner_mobile"  pattern="[1-9]{1}[0-9]{9}" required>
                                            </div>  

                                            <div class="partner-form__group">
                                                <label for="partner-email" class="partner-form__label">Email* :</label>
                                                <input type="email" class="partner-form__input" placeholder="Email*" id="partner-email" name="partner_email" required>
                                            </div>

                                            <div class="partner-form__group">
                                                <label for="web-name" class="partner-form__label">Website :</label>
                                                <input type="text" class="partner-form__input" placeholder="Website" id="web-name" name="partner_web_name">
                                            </div>

                                            <!-- <div class="partner-form__group">
                                                <label for="gst-number" class="partner-form__label">If Company have GST Number ?:</label>
                                                <input type="number" class="partner-form__input" placeholder="GST Number" id="gst-number" name="gst-number">
                                            </div> -->

                                            <fieldset>
                                                <div class="partner-form__group">
                                                    <legend class="partner-form__label">If Company has GST Number ?:</legend>
                                                    <div class="partner-form__radio-input-group">
                                                        <div class="partner-form__radio-group">
                                                            <input type="radio" class="partner-form__radio-input" id="gst-yes" value="yes" name="partner_has_gst">
                                                            <label for="gst-yes" class="partner-form__radio-label">
                                                                <span class="partner-form__radio-button"></span>
                                                                Yes
                                                            </label>
                                                        </div>
                    
                                                        <div class="partner-form__radio-group">
                                                            <input type="radio" class="partner-form__radio-input" id="gst-no" value="no" name="partner_has_gst">
                                                            <label for="gst-no" class="partner-form__radio-label">
                                                                <span class="partner-form__radio-button"></span>
                                                                No
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <fieldset>
                                                <div class="partner-form__group">
                                                    <legend class="partner-form__label">If owns shop?</legend>
                                                    <div class="partner-form__radio-input-group">
                                                        <div class="partner-form__radio-group">
                                                            <input type="radio" class="partner-form__radio-input" id="owner-yes" value="yes" name="partner_owner">
                                                            <label for="owner-yes" class="partner-form__radio-label">
                                                                <span class="partner-form__radio-button"></span>
                                                                Yes
                                                            </label>
                                                        </div>
                    
                                                        <div class="partner-form__radio-group">
                                                            <input type="radio" class="partner-form__radio-input" id="owner-no" value="no" name="partner_owner">
                                                            <label for="owner-no" class="partner-form__radio-label">
                                                                <span class="partner-form__radio-button"></span>
                                                                No
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <fieldset>
                                                <div class="partner-form__group partner-form__group--checkbox">
                                                    <legend class="partner-form__label" id="checkbox-error">Products interested in* :</legend>
                                                    <div class="partner-form__checkbox-input-group">
                                                        <div class="partner-form__checkbox-group">
                                                            <input type="checkbox" class="partner-form__checkbox-input" id="wavlyautocut" value="wavlyautocut" name="partner_interested">
                                                            <label for="wavlyautocut" class="partner-form__checkbox-label">
                                                                <span class="partner-form__checkbox-button"></span>
                                                                Wavly AutoCut
                                                            </label>
                                                        </div>
                    
                                                        <div class="partner-form__checkbox-group">
                                                            <input type="checkbox" class="partner-form__checkbox-input" id="wavlysubmersible" value="wavlysubmersible" name="partner_interested">
                                                            <label for="wavlysubmersible" class="partner-form__checkbox-label">
                                                                <span class="partner-form__checkbox-button"></span>
                                                                Wavly Submersible
                                                            </label>
                                                        </div>

                                                        <div class="partner-form__checkbox-group">
                                                            <input type="checkbox" class="partner-form__checkbox-input" id="wavlyx" value="wavlyx" name="partner_interested">
                                                            <label for="wavlyx" class="partner-form__checkbox-label">
                                                                <span class="partner-form__checkbox-button"></span>
                                                                Wavly X
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <div class="partner-form__group">
                                                <label for="team-size" class="partner-form__label">Team Size :</label>
                                                <input type="number" class="partner-form__input" placeholder="Team Size" id="team-size" name="partner_team_size">
                                            </div>

                                            <div class="partner-form__group">
                                                <!-- <input type="number" class="partner-form__input" placeholder="Your message (optional)" id="mobile" required> -->
                                                <label for="partner-message" class="partner-form__label">Your message :</label>
                                                <textarea name="partner_message" class="partner-form__input partner-form__text-area" placeholder="Your message" id="partner-message"  rows="4"></textarea>
                                            </div>

                                            <div class="partner-form__group">
                                                <button type="submit" class="btn btn-primary btn-lg partner-form__btn">Submit &rarr;</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>

                <section class="section-accordion">
                    <div class="u-center-text u-margin-bottom-medium">
                        <h2 class="heading-secondary">Frequently Asked Questions</h2>
                    </div>

                    <div class="accordion-container">
                        <div class="accordion">
                            
                            <div class="accordion__item">
                                <div class="accordion__link">
                                    Do we provide credits?
                                    <i class="fas fa-plus accordion__icon accordion__icon--plus"></i>
                                    <i class="fas fa-minus accordion__icon accordion__icon--minus"></i>
                                </div>
                                <div class="accordion__answer-box">
                                    <p class="accordion__answer">
                                        Wavly do not provide any credit.
                                    </p>
                                </div>
                            </div>

                            <div class="accordion__item">
                                <div class="accordion__link">
                                    How much money to be deposited  for dealership?
                                    <i class="fas fa-plus accordion__icon accordion__icon--plus"></i>
                                    <i class="fas fa-minus accordion__icon accordion__icon--minus"></i>
                                </div>
                                <div class="accordion__answer-box">
                                    <p class="accordion__answer">
                                        No money has to be deposited for dealership. Only Minimum order quantity is necessary.
                                    </p>
                                </div>
                            </div>

                            <div class="accordion__item">
                                <div class="accordion__link">
                                    What is MOQ (Minimum order quantity) that needs to be placed?
                                    <i class="fas fa-plus accordion__icon accordion__icon--plus"></i>
                                    <i class="fas fa-minus accordion__icon accordion__icon--minus"></i>
                                </div>
                                <div class="accordion__answer-box">
                                    <p class="accordion__answer">
                                        Minimum 100 pc for wavly autocut or wavly submersible for distributorship.
                                    </p>
                                </div>
                            </div>

                            <div class="accordion__item">
                                <div class="accordion__link">
                                    What is area of operation for distributor?
                                    <i class="fas fa-plus accordion__icon accordion__icon--plus"></i>
                                    <i class="fas fa-minus accordion__icon accordion__icon--minus"></i>
                                </div>
                                <div class="accordion__answer-box">
                                    <p class="accordion__answer">
                                        Distinct area for each distributor will be given for operation/ sales purpose. Selling in other area is not allowed as it can harm other distributors.
                                    </p>
                                </div>
                            </div>

                            <div class="accordion__item">
                                <div class="accordion__link">
                                    What is return on investment that distributor gets?
                                    <i class="fas fa-plus accordion__icon accordion__icon--plus"></i>
                                    <i class="fas fa-minus accordion__icon accordion__icon--minus"></i>
                                </div>
                                <div class="accordion__answer-box">
                                    <p class="accordion__answer">
                                        The return on investment is about 21 – 28 %  per piece.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </main>

    </div>

<%- include('partials/footer'); -%>