<%- include('partials/header'); -%>


        <!-- navigation -->
        <div class="navigation">
            <div class="navigation__menu">
                <div class="navigation__bar">&nbsp;</div>
            </div>

            <div class="navigation__overlay">&nbsp;</div>

            <nav class="navigation__nav">
                <div class="navigation__logo-box">
                    <a href="/" class="navigation__logo"><img src="images/logo-new.png" alt="Logo" class="navigation__logo-img"></a>
                </div>
                <ul class="navigation__list" id="top-menu">
                    <li class="navigation__item"><a href="/#home" class="navigation__link page-scroll" data-text="home">home</a></li>
                    <li class="navigation__item"><a href="/#about" class="navigation__link page-scroll" data-text="about">about</a></li>
                    <li class="navigation__item always-active"><a href="/#products" class="navigation__link page-scroll" data-text="products">products</a></li>
                    <li class="navigation__item"><a href="/#contact" class="navigation__link page-scroll" data-text="contact us">contact us</a></li>
                    <li class="navigation__item"><a href="/partner" class="navigation__link" data-text="become partner">become partner</a></li>
                </ul>
            </nav>
        </div>
    


        <main>
                <section class="section-product-content">
                    <div class="container">
                        <div class="u-center-text u-margin-bottom-medium">
                            <h2 class="heading-secondary heading-secondary--submersible">Wavly Submersible</h2>
                        </div>

                        <div class="product-content row">
                            <div class="product-content__image col-md-5">
                                <img src="images/subfinal.jpg" class="img-fluid" alt="autocut">
                            </div>
                            <ul class="product-content__list col-md-7">
                                <li class="product-content__item">
                                    <span class="product-content__icon"><i class="fas fa-star"></i></span>
                                    <p class="product-content__text">Wavly Submersible makes water tank automatic. When the water level in the tank goes low a set level, motor get switch on automatically. When the water tank is completely filled the motor automatically gets switched off.</p>
                                </li>
                                <li class="product-content__item">
                                    <span class="product-content__icon"><i class="fas fa-star"></i></span>
                                    <p class="product-content__text">Easy operations. Beautiful design with manual button. LED indication.</p>
                                </li>
                                <li class="product-content__item">
                                    <span class="product-content__icon"><i class="fas fa-star"></i></span>
                                    <p class="product-content__text">One box contain : 2 pair of nickel coated sensor for long life, Wavly submerible, user guide containing how to operate and connect the device.</p>
                                </li>
                                <li class="product-content__item">
                                    <span class="product-content__icon"><i class="fas fa-star"></i></span>
                                    <p class="product-content__text">Small and compact. Easy Installable.</p>
                                </li>
                                <li class="product-content__item">
                                    <span class="product-content__icon"><i class="fas fa-star"></i></span>
                                    <p class="product-content__text">Manufacture warranty of 8 month. Made for submersible motor only (upto 2 HP). Also suitable for single phase MCB starter panel.</p>
                                </li>
                            </ul>
                        </div>

                        <div class="product-content__buttons">
                            <a href="https://www.amazon.in/Wavly-Submersible-Automatic-Controller-www-wavly/dp/B07ZC7MQDZ" class="btn btn--submersible" target="_blank"><i class="fas fa-shopping-cart" aria-hidden="true"></i> Buy now!</a>
                            <a href="#installation" class="btn btn--submersible page-scroll">See connections <i class="fas fa-long-arrow-alt-down"></i></a>
                        </div>
                    </div>
                </section>
                
                <section class="section-product-composition" id="installation">
                    <div class="container">
                        <div class="u-center-text u-margin-bottom-medium">
                            <h2 class="heading-secondary heading-secondary--submersible">Installation Circuits</h2>
                        </div>

                        <div class="product-composition">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <div data-popup-target="#popup1">
                                        <img src="images/sump2.jpg" alt="autocut circuit" class="product-composition__image">
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div data-popup-target="#popup2">
                                        <img src="images/sump3.jpg" alt="autocut circuit" class="product-composition__image">
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div data-popup-target="#popup3">
                                        <img src="images/sump4.jpg" alt="autocut circuit" class="product-composition__image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </main>


        <!-- image popups-->
        <div class="popup" id="popup1">
            <div class="popup__header">
                <div class="popup__title">Connections with panel (Submersible)</div>
                <div data-close-button class="popup__close-button">
                    &times;
                </div>
            </div>
            <div class="popup__body">
                <img src="images/sump2.jpg" alt="autocut circuit" class="popup__image">
            </div>
        </div>


        <div class="popup" id="popup2">
            <div class="popup__header">
                <div class="popup__title">Wire labels for Wavly Submersible</div>
                <div data-close-button class="popup__close-button">
                    &times;
                </div>
            </div>
            <div class="popup__body">
                <img src="images/sump3.jpg" alt="autocut circuit" class="popup__image">
            </div>
        </div>

        <div class="popup" id="popup3">
            <div class="popup__header">
                <div class="popup__title">Connections for submersible with switch (Wavly sub)</div>
                <div data-close-button class="popup__close-button">
                    &times;
                </div>
            </div>
            <div class="popup__body">
                <img src="images/sump4.jpg" alt="autocut circuit" class="popup__image">
            </div>
        </div>
        <div class="popup__overlay"></div>
        <!-- image popups end-->

<%- include('partials/footer'); -%>