<%- include('partials/header'); -%>

        <!-- navigation -->
        <div class="navigation">
            <div class="navigation__menu">
                <div class="navigation__bar">&nbsp;</div>
            </div>

            <div class="navigation__overlay">&nbsp;</div>

            <nav class="navigation__nav">
                <div class="navigation__logo-box">
                    <a href="/" class="navigation__logo"><img src="images/logo-new.png" alt="Logo" class="navigation__logo-img"></a>
                </div>
                <ul class="navigation__list" id="top-menu">
                    <li class="navigation__item"><a href="/#home" class="navigation__link page-scroll" data-text="home">home</a></li>
                    <li class="navigation__item"><a href="/#about" class="navigation__link page-scroll" data-text="about">about</a></li>
                    <li class="navigation__item always-active"><a href="/#products" class="navigation__link page-scroll" data-text="products">products</a></li>
                    <li class="navigation__item"><a href="/#contact" class="navigation__link page-scroll" data-text="contact us">contact us</a></li>
                    <li class="navigation__item"><a href="/partner" class="navigation__link" data-text="become partner">become partner</a></li>
                </ul>
            </nav>
        </div>
    


        <main>
                <section class="section-product-content">
                    <div class="container">
                        <div class="u-center-text u-margin-bottom-medium">
                            <h2 class="heading-secondary">Wavly X</h2>
                        </div>

                        <div class="product-content-main">
                            <p class="product-content-main__text">Wavly X is a water management platform that automates and manages water in big infrastructure ( for example malls , residential building , etc) . With our technology installed , you could save upto 25 % of water and money on utility bills.</p>
                        </div>

                        <div class="product-content">
                            <ul class="product-content__list">
                                <li class="product-content__item">
                                    <span class="product-content__icon"><i class="fas fa-star"></i></span>
                                    <p class="product-content__text">Fully automates water in an infrastructure. No manual operation.</p>
                                </li>
                                <li class="product-content__item">
                                    <span class="product-content__icon"><i class="fas fa-star"></i></span>
                                    <p class="product-content__text">Retrofit hardware. No need to mess plumbing of building.</p>
                                </li>
                                <li class="product-content__item">
                                    <span class="product-content__icon"><i class="fas fa-star"></i></span>
                                    <p class="product-content__text">Our cloud dashboard provide real time traceability of water.</p>
                                </li>
                                <li class="product-content__item">
                                    <span class="product-content__icon"><i class="fas fa-star"></i></span>
                                    <p class="product-content__text">Leakage detection on main lines.</p>
                                </li>
                                <li class="product-content__item">
                                    <span class="product-content__icon"><i class="fas fa-star"></i></span>
                                    <p class="product-content__text">No upfront cost. Pay monthly. Pay according to water consumption.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>

        </main>

<%- include('partials/footer'); -%>