.card  {
    // Fuctionality
    position: relative;
    height: $card-height;
    border: 0;

    &__side {
        height: $card-height;
        transition: all .8s ease;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border: 0;
        // border-radius: 30px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
            z-index: 5;
        }

        &--back {
            // background-color: orange;
            // z-index: 6;
            height: $back-side-height;
            // position: absolute;
            // bottom: 0;
            // left: 0;

            &--1 {
                background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
            }
    
            &--2 {
                background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
            }
    
            &--3 {
                background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
            }
        }
    }

    &:hover &__side--front {
        transform: translateY(calc(-1 * #{$card-shift}));
    }

    &:hover &__side--back {
        transform: translateY($card-shift);
    }


    // card front style

    &__picture {
        height: 100%;
        background-size: cover;
        background-position: center;

        &--1 {
            background-image: url(../images/autoCutCrop.png);
        }

        &--2 {
            background-image: url(../images/submersibleCrop.jpg);
        }

        &--3 {
            background-image: url(../images/coming.webp);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 3rem;
        right: 2rem;
        width: 65%;
    }

    &__heading-span {
        padding: .2rem 1rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
        }
    }

    // back styling
    &__details {
        width: 85%;
        // background-color: red;
        margin: 3rem auto;
    }

    &__paragraph {
        font-size: $default-font-size;
        font-weight: 400;
        color: $color-white;
    }

    &__button-section {
        width: 85%;
        margin: 3rem auto;
        // background-color: red;
        position: absolute;
        bottom: .1rem;
        left: 7.5%;
        right: 7.5%;
        display: flex;
        justify-content: space-between;
    }

    &__button {
        &:link, &:visited {
            display: inline-block;
            margin: 0;
            padding: .5rem 1rem;
            border: 1px solid $color-white;
            font-size: 1.6rem;
            font-weight: 400;
            color: $color-white;
            border-radius: 3px;
            text-decoration: none;
            transition: all .2s;
        }

        &:hover, &:active {
            background-color: $color-white;
        }   
                    
        &--1:hover, &--1:active {
            color : $color-secondary-dark;     
        }

        &--2:hover, &--2:active {
            color : $color-primary-dark;     
        }

        &--3:hover, &--3:active {
            color : $color-tertiary-dark;     
        }
    }
}