.section-product-content {
    padding: 12rem 0;
    background-color: #8ee;
}

.product-content-main {
    font-size: 1.9rem;
}

.section-product-composition {
    padding: 12rem 0;
    background-color: lightgrey;
}

