body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 1.6px; */
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    backface-visibility: hidden;

    &--main {
        text-transform: uppercase;
        font-size: 7rem;
        font-weight: 700;
        letter-spacing: 5rem;
        display: block;
        background-image: linear-gradient(to right top, #6d6b6b, #868585, #a1a0a0, #bcbcbc, #d8d8d8, #dddddd, #e2e2e2, #e7e7e7, #d5d5d5, #c3c3c3, #b2b2b2, #a1a1a1);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        margin-bottom: 1.2rem;
        margin-left: 5rem;
        text-shadow: 0 .7rem 2rem rgb(0, 0, 0);
        animation: moveInLeft 1s ease-out .1s 1;

        @include respond(tab-port) {
            animation: moveInLeftSmall 1s ease-out .1s 1;
            letter-spacing: 3rem;
            margin-left: 3rem;
            text-shadow: 0 .5rem 2rem rgb(0, 0, 0);
        }

        @include respond(phone) {
            letter-spacing: 1rem;
            margin-left: 1rem;
        }
    }

    &--sub {
        font-size: 2rem;
        font-weight: 400;
        font-family: 'Manjari', sans-serif;
        display: block;
        background-image: linear-gradient(to right, $color-primary-1, $color-primary-5);
        -webkit-background-clip: text;
        background-clip: text;
        color: $color-white;
        animation: moveInRight 1s ease-out .1s 1;
        margin-bottom: 4rem;

        line-height: 1.7;
        letter-spacing: .25rem;

        @include respond(tab-port) {
            animation: moveInRightSmall 1s ease-out .1s 1;
            letter-spacing: .15rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-tertiary-light, $color-tertiary-light);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;

}

.paragraph {
    font-size: calc(#{$default-font-size} * 1.2);
    
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}