.accordion {
    &__item {  // like acc
        background-color: #283042;
        border-radius: .4rem;
        margin-bottom: 1rem;
        padding: 1rem;
        box-shadow: .5rem 2px .5rem rgba(0, 0, 0, .1);
    }

    &__link {  // like h3
            font-size: 1.6rem;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: rgba(255, 255, 255, .8);
            text-decoration: none;
            background-color: #283042;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0;
            cursor: pointer;
    }

    &__icon {   
        color: #e7d5ff;
        padding: .5rem;

        &--minus {
            display: none !important;
        }
    }

    &__answer-box {  // like content
        max-height: 20rem;
        display: none;
        overflow: hidden;
        position: relative;
        background-color: #212838;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        transition: max-height 650ms;

        &::before {
            content: "";
            position: absolute;
            width: .6rem;
            height: 90%;
            background-color: #8fc460;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
    
    &__answer {
        color: rgba(255, 255, 255, .6);
        font-size: 1.4rem;
        padding: 2rem;
    }
    
    &__item.active &__answer-box {
        // max-height: 20rem;
        display: block;
    }
    
    &__item.active &__icon--plus {
        display: none;
    }
    
    &__item.active &__icon--minus {
        display: block !important;
    }
}