.partner-background {
    background-color: #8ee4af;
}

.section-partner-heading {
    padding: 12rem 0;
    padding-bottom: 0;
}

.section-partner-form {
    padding-bottom: 5rem;
}

.section-accordion {
    width: 100%;
    background-color: #edc7b7;
    padding: 10rem 0;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.accordion-container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}