.section-product-content {
    padding: 12rem 0;
    background-color: #8ee4af;
}

.product-content-main {
    font-size: 1.9rem;
}

.section-product-composition {
    padding: 12rem 0;
    background-color: #edc7b7;
}

