@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER 

// 0 - 576px: phone
// 576 - 768px: tablet portrait
// 768 - 992px: tablet landscape
// 992 - 1200px: big-tab
// [1200 - 1800px] is where our normal styles applied
// 1800+ :big desktop


// $breakpoint argument choices:
// - phone
// - tab-port
// - tab-land
// - big-tab
// - big-desktop
// ORDER : BASE + TYPOGRAPHY > GENERAL LAYOUT + GRID > PAGE LAYOUT > COMPONENTS
// 1em == 16px

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 36em) { @content };  // <=576px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 48em) { @content };  // <=768px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 62em) { @content };  // <=992px
    }
    @if $breakpoint == big-tab {
        @media only screen and (max-width: 75em) { @content };  // <=1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };  // >=1800px
    } 
}